<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/simonayele">Simon</a>. A student at the George Washington University coding bootcamp, learning to become a refined web-developer.
  </p>
  <br />
  <p>
    With this web application I demonstrate how to take quote inputs from the user and store it in a database and display it back to the user.
  </p>
  <p>
    If you want to join me learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Simon Sahilu</h2>
      <br />
      <p>
        Simon Sahilu is an aspiring web developer. Please see my linkedin profile to see my web development experience (<a target="_blank" href="https://www.linkedin.com/in/simon-ayele-sahilu-966a7a32/">Linkedin</a>). A dedicated web developer with months of experience in the field. A microsoft certified profesional (MCP) on Microsoft Server and SQL sertified database adminstrator. Positive, with a can do attitude and strongly belive in team work. Out going and always ready for a new challenge.
      </p>
    </div>
  </div>
  <br class="clear" />

  
</div>
<br class="clear" />
<br />
<br />
<br />
<br />